/* Hero Block - Tablet Styles */
.carbon-block--hero__container {
    padding: var(--wp--preset--spacing--60) var(--wp--preset--spacing--30);
}

.carbon-block--hero__title--6xl {
    font-size: var(--wp--preset--font-size--5-xl);
}

.carbon-block--hero__title--5xl {
    font-size: var(--wp--preset--font-size--4-xl);
}

.carbon-block--hero__title--4xl {
    font-size: var(--wp--preset--font-size--3-xl);
}

.carbon-block--hero__subtitle {
    font-size: var(--wp--preset--font-size--lg);
}
