/* Listing Section - Tablet Styles */
.carbon-block--listing-section--left,
.carbon-block--listing-section--right {
    flex-direction: column;
}

.carbon-block--listing-section__filter--left,
.carbon-block--listing-section__filter--right {
    flex: none;
    width: 100%;
}

.carbon-block--listing-section__grid--4 {
    grid-template-columns: repeat(3, 1fr);
}

.carbon-block--listing-section__grid--3 {
    grid-template-columns: repeat(2, 1fr);
}
