{% set variant = variant|default('property') %}
{% set size = size|default('medium') %}
{% set border_radius = border_radius|default(12) %}
{% set shadow = shadow|default(2) %}

{% set shadow_classes = {
    0: 'shadow-none',
    1: 'shadow-sm',
    2: 'shadow-md',
    3: 'shadow-lg',
    4: 'shadow-xl',
    5: 'shadow-2xl'
} %}

{% set border_radius_classes = {
    0: 'rounded-none',
    4: 'rounded',
    8: 'rounded-md',
    12: 'rounded-lg',
    16: 'rounded-xl',
    20: 'rounded-2xl',
    24: 'rounded-3xl',
    32: 'rounded-full'
} %}

{% set variants = {
    'property': {
        'pretitle': 'property',
        'title': 'property-name',
        'description': 'property-description',
        'color': 'primary',
        'size': 'medium'
    },
    'group': {
        'pretitle': 'group',
        'title': 'group-name',
        'description': 'group-description',
        'color': 'secondary',
        'size': 'large'
    }
} %}

<div class="villa-card {{ border_radius_classes[border_radius] }} {{ shadow_classes[shadow] }} bg-white overflow-hidden">
    {% if image %}
        <div class="card-image h-64 relative">
            <img src="{{ image }}" alt="{{ alt|default('') }}" class="w-full h-full object-cover">
        </div>
    {% endif %}
    
    <div class="card-content p-6">
        {% if pretitle %}
            {% include 'components/primitives/text.twig' with {
                'type': 'pretitle',
                'color': variants[variant].color,
                'content': pretitle
            } %}
        {% endif %}
        
        {% if title %}
            {% include 'components/primitives/text.twig' with {
                'type': 'title',
                'size': variants[variant].size,
                'content': title
            } %}
        {% endif %}
        
        {% if description %}
            {% include 'components/primitives/text.twig' with {
                'type': 'description',
                'content': description
            } %}
        {% endif %}
    </div>
</div>
